<h1>Hi , {{ name | uppercase }} ,Age: {{ Age }}</h1>

<input type="text" [value]="name" />
<h1> {{currentDate | date:"dd/MM/YYYY"  }} </h1>
<h1> {{756564564564.55 | currency:"USD"  }} </h1>
<h1>{{ Twoway }}</h1>
<input type="text" [(ngModel)]="Twoway" />
<img [src]="source" alt="" />

<input type="button" value="Click here" (click)="myFunction()" />



<select (change)="changeColor(color)" name="" id="" style="display: block">
  <option *ngFor="let color of colors">{{ color }}</option>
</select>
<input type="button" [value]="logSate" (click)="toggle()" />
<div *ngIf="isAuth; then welcome; else error"></div>
<ng-template #welcome>
  <p>Welcome to the page! You are logged in.</p>
</ng-template>

<ng-template #error>
  <p>Please,login to our App</p>
</ng-template>
